/*
*{
    background-color: blue;
}
*/

/*esto es un comentario de una sola linea, css*/
/*estoy usado css intermo*/
body {
    background-color:aqua;
}

/*aplicar estilo por id, usando #<id>*/
#idsection{
    background-color: blueviolet;
}

#idnav{
    background-color: beige;
}

/*estilo clases, .<nombre de la clase>*/
.links {
    color: rgb(204, 22, 68);
}
/*selector de etiqueta*/
a {
    text-decoration: none;
}

#linkactive {
    color: rgb(255, 0, 13);
}